<table class = "microposts" summary="Tag microposts">
<tr>
  <td class='gravatar'>
      <%= gravatar_for user, :size =>30, :default=>'identicon'%>
  </td>
  <td class="micropost">
    <%= link_to user.name, user%>
    <div id="tagsDiv">
      <%if user.tags.count > 0%>
        <% user.tags.each do |tag|%>
         <%=link_to tag.name , tag%>
      <%end%>
      <%else%>
      <%end%>
    </div>
  </td>
</tr>
</table>