<%=link_to "<- Back to #{@user.name}", user_path%>
  <table class = "front" summary="For signed-in users">
    <tr>
      <td class="main">
        <h1 class = "micropost">Jobs recommended for <%=@user.name %></h1>
        <%=render 'shared/feed'%>
      </td>
     
      
    </tr>
    
    
    
    
    
    
  </table>