<%= stylesheet_link_tag 'aboutCustom', :media => 'screen'%>
  
<div class="round" id="background">
  <div id="mainText">
    <div id="what">
      <h1>What We Do</h1>
    </div>
    <div id="Explain">
      <h2>We connect employers and employees based on the skills needed for a job and the skills processed by the employee. Start connecting today by creating an account! It's fast, free and easy!</h3>
    </div>
    <div id="signUp">
      <%=link_to image_tag("signUpButton.png", :alt =>"Sign Up Button"), signup_path %>
    </div>
  </div>
  <div id="changingText">
    <div id="names">
     <div  id="employersName">
       <h3>Employers</h3>
     </div>
     <div id="fileName">
       <h3>FileAJob.com</h3>
     </div>
     <div id="employeeName">
       <h3>Employees</h3>
     </div>
    </div>
    <div id="pictureBar">
      <div id="employer">
        
      </div>
      <div id="arrows1">
        
      </div>
      <div id="fileAJob">
        
      </div>
      <div id="arrows2">
        
      </div>
      <div id="employee">
        
      </div>
    </div>
    <div id="blurbBox1">
      <div id="words">
        <p>Need Something Done?</p>
        <p>Make a post with us and get on with your day. We will connect you with potential employees to choose from, so just sit back, relax, and choose the right person for you.</p>
      </div>
    </div>
    <div id="blurbBox2">
      <div id="words">
        
      </div>
    </div>
    <div id="blurbBox3">
      <div id="words">
        <p>Got a skill to share?</p>
        <p>Create a profile with us describing yourself. We will connect you to employers looking for those skills and notify you if a request is made for your services.</p>
      </div>
    </div>
  </div>
</div>