<h1>Listing tags</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Posts</th>
    <th>Users</th>

  </tr>
<% Tag.find(:all, :order => "name").each do |tag| %>
  <tr>
    <td>    <div id="tagsDiv">
<%= link_to tag.name, tag %></div</td>
    <td><%= tag.microposts.count %></td>
    <td><%= tag.users.count %></td>
    
  </tr>
<% end %>
</table>

<br />
